meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')

script(src='/javascripts/jquery.min.js')
script(src='/javascripts/bootstrap.min.js')
script(src='/javascripts/entongue.js')
script(src='http://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true')
title= title
 
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='black')
meta(name='apple-mobile-web-app-title', content='Entongue')
link(rel='apple-touch-icon', sizes='114x114', href='/images/icon_114.png')
link(rel='apple-touch-startup-image', href='/images/splash.png')
