meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
link(rel='stylesheet', href='/stylesheets/style.css')
script(src='/javascripts/jquery.min.js')
script(src='/javascripts/bootstrap.min.js')
script(src='/javascripts/entongue.js')
script(src='http://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true')
title= title
 
