extends layout


block content
    h1 
        img.img-responsive(src='/images/logomovil.jpg', alt='Entongue')
            
    div#themap
    
    .text-center

        button#entongar.btn.btn-primary.btn-lg.disabled(data-toggle="modal", data-target="#myModal", style="width:80%; margin:10px auto; font-size:140%") 
            i.fa.fa-th-large 
            | &nbsp; ENTONGAR

    #myModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true")&times;
                    h4#myModalLabel.modal-title ¿Qué entongás?
                .modal-body
                    table.text-center(style="width:100%")
                        tr 
                            td: button.btn.btn-default.btn-lg.eicon(data-tag="smile", data-dismiss="modal"): i.fa.fa-smile-o
                            td: button.btn.btn-default.btn-lg.eicon(data-tag="meh", data-dismiss="modal"): i.fa.fa-meh-o
                        tr 
                            td: button.btn.btn-default.btn-lg.eicon(data-tag="frown", data-dismiss="modal"): i.fa.fa-frown-o
                            td: button.btn.btn-default.btn-lg.eicon(data-tag="smile", data-dismiss="modal"): i.fa.fa-frown-o
                        tr 
                            td: button.btn.btn-default.btn-lg.eicon(data-tag="smile", data-dismiss="modal"): i.fa.fa-frown-o
                            td: button.btn.btn-default.btn-lg.eicon(data-tag="smile", data-dismiss="modal"): i.fa.fa-frown-o



    script.
        if (navigator.geolocation) 
            navigator.geolocation.getCurrentPosition(success);
        else
            alert('Geo Location is not supported');

