extends layout


block content
    h1 Entongue
    div#themap
    a(class="btn btn-danger btn-large") ENTONGAR

    script.
        if (navigator.geolocation) 
            navigator.geolocation.getCurrentPosition(success);
        else
            alert('Geo Location is not supported');


