extends layout


block content
    h1 Entongue
    div#themap
    a(class="btn btn-danger btn-large") ENTONGAR

    script.
        console.log('go');
        if (navigator.geolocation) 
            navigator.geolocation.getCurrentPosition(success);
        else
            alert('Geo Location is not supported');



//
    var x=document.getElementById("demo");
    function getLocation()
    {
    if (navigator.geolocation)
        {
        navigator.geolocation.getCurrentPosition(showPosition);
        }
    else{x.innerHTML="Geolocation is not supported by this browser.";}
    }
    function showPosition(position)
    {
    x.innerHTML="Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude; 
    }
