extends layout

mixin btn(tag, cla, col, title)
    button.btn.btn-default.btn-lg.eicon(data-tag="#{tag}", data-dismiss="modal")
        i(class="#{cla}",style="color:#{col}") 
        &nbsp; 
        = title

block content


    #entongue_ok.alert.alert-success.alert-dismissable.hide  
        a.close(data-dismiss="alert",href="#",aria-hidden="true")&times;
        strong Bien! &nbsp;
        | Entongue grabado.
           
    div#themap
    
    .text-center

        if can_entongue 
            a#entongar.btn.btn-primary.btn-lg.disabled(data-toggle="modal", data-target="#myModal", style="width:90%; margin:10px auto; font-size:90%") 
                span.fa.fa-th-large 
                | &nbsp; ENTONGUEAR

            button#cant_entongue.btn.btn-primary.btn-lg.disabled.hide(style="width:90%; margin:10px auto; font-size:80%") No puedes entongar 
                | por 
                span#less_minutes
        else
            button#cant_entongue.btn.btn-primary.btn-lg.disabled(style="width:90%; margin:10px auto; font-size:80%") No puedes entongar 
                | por 
                span#less_minutes 

    #myModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-body
                    +btn( "jam", "fa fa-truck", "#BF003D", "Embotellamiento")
                    +btn( "riot", "fa fa-bullhorn", "#BF003D", "Protesta")
                    +btn( "party", "fa fa-gift", "#BF003D", "Fiesta")
                    +btn( "music", "fa fa-music", "#BF003D", "Recital")
                    +btn( "crawd", "fa fa-group", "#EE7339", "Tumulto")
    script.
        if (navigator.geolocation) 
            navigator.geolocation.getCurrentPosition(success);
        else
            alert('Geo Location is not supported');
        

