extends layout


block content
    h1 Entongue
    div#themap
    .text-center
        a(class="btn btn-danger btn-large", style="width:80%; margin:10px auto") ENTONGAR

    script.
        if (navigator.geolocation) 
            navigator.geolocation.getCurrentPosition(success);
        else
            alert('Geo Location is not supported');


