html { 
    height: 100%;
}

body { 
    height: 100%; 
    margin: 0; 
    padding: 0;
}

h1 {
    margin: 0;
}

#themap { 
    height: 55%;
    width: 100%;
}

#mapcontainer { 
    height: 100%;
}

.eicon {
    display:block;
    width:100%;
    margin: 5px 0;
    text-align: left;
}

.alert {
    margin: 0 auto 10px;
    width: 90%;
    padding: 4px;
}

.alert-dismissable .close {
    right: 4px;
}
