html { 
    height: 100%;
}

body { 
    height: 100%; 
    margin: 0; 
    padding: 0;
}

h1 {
    margin: 0;
}

#themap { 
    height: 55%;
    width: 100%;
}

#mapcontainer { 
    height: 100%;
}

.eicon {
 font-size:400%;
}
