html { 
    height: 100%;
}

body { 
    height: 100%; 
    margin: 0; 
    padding: 0;
}

h1 {
    margin: 0;
}

#themap { 
    height: 60%;
    width: 100%;
}

#mapcontainer { 
    height: 100%;
}

.eicon {
    font-size:180%;
    display:block;
    width:80%;
    margin: 5px auto;
    text-align: left;
    padding-left:20%;
}

.eicon i {
|
